.auctions {
	height: 1235px;

	// .auctions__container

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .auctions__title

	&__title {}

	// .auctions__swiper

	&__swiper {
		max-width: 100%;
		overflow: hidden;
	}

	// .auctions__swiper-wrapper

	&__swiper-wrapper {
		display: flex;
		width: 100%;
	}

	// .auctions__swiper-slide

	&__swiper-slide {
		flex: 0 0 50%;
		height: 400px;
		background-color: #fff;
		margin: 0 auto;
	}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-button-prev {}

.swiper-button-next {}