.header {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 60px 0;

	// .header__container

	&__container {
		display: flex;
		align-items: center;
		gap: clamp(2.5rem, calc(0.288rem + 11.06vw), 10rem);

		@media (max-width:900px) {
			justify-content: space-between;
		}
	}

	// .header__logo

	&__logo {
		flex: 0 0 auto;
	}

	// .header__menu

	&__menu {
		flex: 1 1 100%;

		@media (max-width:900px) {
			position: absolute;
			width: 100%;
			height: 100vh;
			background-color: $accentColor;
			opacity: 0.9;
			left: -100%;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: left 0.3s;

			ul {
				flex-direction: column;
			}

			a {
				font-size: 42px;
				color: $bgColor;
				font-weight: bold;
			}
		}

		&.active {
			left: 0;
		}
	}

	// .header__list

	&__list {
		display: flex;
		justify-content: end;
		gap: 64px;
	}

	// .header__link

	&__link {
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: $whiteTextColor;

		&::after {
			content: '';
			height: 2px;
			width: 100%;
			position: absolute;
			background-color: $accentColor;
			bottom: -10px;
			left: 0;
			transform: scaleX(0);
			transition: all 0.1s linear;
		}

		&:hover {
			color: $accentColor;

			&::after {
				transform: scaleX(100%);
			}
		}
	}

	// .header__button

	&__button {
		flex: 0 0 auto;
		font-weight: 600;
		font-size: 18px;
		line-height: 21px;
		color: #FFCE4E;
		padding: 20px 30px;

		@media (max-width:600px) {
			display: none;
		}
	}

	&__burger {
		position: relative;
		display: block;
		width: 22px;
		height: 16px;

		&::before,
		&::after,
		span {
			content: '';
			height: 3px;
			background-color: $accentColor;
			position: absolute;
			left: 0;
			width: 100%;
			transition: all 0.3s linear;
		}

		span {
			top: 50%;
			transform: translateY(-50%);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		@media (min-width: 900px) {
			display: none;
		}

		&.active {

			&::before {
				background-color: $bgColor;
				transform: rotate(-45deg) translateY(9px);
			}

			&::after {
				transform: rotate(45deg) translateY(-9px);
				background-color: $bgColor;
			}

			span {
				transform: scaleX(0);
			}
		}
	}
}