.top {
	position: relative;
	min-height: 1065px;

	//.top__shineDecoreYellow
	&__shineDecoreYellow {
		position: absolute;
		left: 0;
		top: 20%;
		z-index: -2;
	}

	&__shineDecorePurple {
		position: absolute;
		right: 0%;
		top: 20%;
		z-index: -2;
	}

	//.top__decore
	&__decore {
		position: absolute;
		top: 0;
		right: 0;
		width: 48%;
		z-index: -5;
		height: 100%;

		@media (max-width:900px) {
			display: none;
		}
	}

	// .top__container

	&__container {
		display: flex;
		justify-content: space-between;
		// gap: 80px;

		@media (max-width:900px) {
			flex-direction: column;
		}
	}

	// .top__info

	&__info {
		padding: 240px 0 0 0;
		flex: 0 1 50%;

		@media (max-width:900px) {
			padding: 200px 0 0 0;
		}
	}

	// .top__title

	&__title {
		margin-bottom: 80px;

		@media (max-width:900px) {
			text-align: center;
			margin-bottom: 50px;

		}
	}

	// .top__buttons

	&__buttons {
		display: flex;
		gap: 48px;
		margin-bottom: 120px;

		@media (max-width:900px) {
			gap: 20px;
			justify-content: center;
			margin-bottom: 20px;
		}
	}

	// .top__button

	&__button {
		display: block;
		font-family: Work Sans;
		font-style: normal;
		font-weight: 600;
		font-size: clamp(1.125rem, calc(0.941rem + 0.92vw), 1.75rem);
		color: $whiteTextColor;
		height: clamp(3.375rem, calc(2.822rem + 2.76vw), 5.25rem);
		text-align: center;
		line-height: clamp(3.375rem, calc(2.822rem + 2.76vw), 5.25rem);
		flex: 0 1 254px;
	}

	// .top__progress

	&__progress {
		display: flex;
		justify-content: space-between;

		@media (max-width:500px) {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 0 20px;
		}

		// @media (max-width:1120px) {
		// 	flex-direction: column;
		// 	padding-top: 30px;
		// }
	}

	// .top__progress-item

	&__progress-item {
		text-align: center;
	}

	// .top__progress-value

	&__progress-value {
		font-family: 'Oxanium';
		font-style: normal;
		font-weight: 700;
		font-size: clamp(2.25rem, calc(1.771rem + 2.4vw), 3.875rem);
		line-height: 78px;
		color: #F5FBF2;
	}

	// .top__progress-sub

	&__progress-sub {
		font-family: 'Work Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 35px;
		color: #9B9E9A;
	}

	// .top__content

	&__content {
		padding: 240px 0 0 0;
		flex: 0 1 40.65%;

		@media (max-width:900px) {
			padding: 55px 0 0 0;
		}
	}

	// .top__banner

	&__banner {
		height: clamp(23.438rem, calc(17.115rem + 31.61vw), 44.875rem);
	}
}



.banner {
	position: relative;
	display: grid;
	grid-template: repeat(2, auto) / repeat(2, auto);

	// .banner__header

	&__header {
		position: absolute;
		width: 95%;
		height: 98px;
		background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
		backdrop-filter: blur(22.5px);
		top: 24px;
		left: 50%;
		transform: translateX(-50%);
		padding: 20px 40px;
		display: flex;
		justify-content: space-between;
	}

	// .banner__header-item

	&__header-item {
		height: 100%;
	}

	// .banner__header-sub

	&__header-sub {
		font-family: Oxanium;
		font-style: normal;
		font-weight: 500;
		font-size: clamp(1rem, calc(0.963rem + 0.18vw), 1.125rem);
		line-height: 22px;
		letter-spacing: 0.08em;
		text-transform: capitalize;
		color: #E4DEE7;
	}

	// .banner__header-value

	&__header-value {
		font-family: Oxanium;
		font-style: normal;
		font-weight: 700;
		font-size: clamp(1.375rem, calc(1.191rem + 0.92vw), 2rem);
		line-height: 40px;
		color: #FFFFFF;
	}

	// .banner__footer

	&__footer {
		position: absolute;
		width: 100%;
		height: clamp(5.125rem, calc(4.019rem + 5.53vw), 8.875rem);
		background: $whiteTextColor;
		bottom: 0;
		left: 0;
		padding: 30px 30px 30px 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		// @media (max-width:1120px) {
		// 	flex-direction: column;
		// }
	}

	// .banner__footer-item

	&__footer-item {}

	// .banner__footer-sub

	&__footer-sub {
		font-family: Oxanium;
		font-style: normal;
		font-weight: 600;
		font-size: clamp(0.875rem, calc(0.617rem + 1.29vw), 1.75rem);
		line-height: 35px;
		letter-spacing: 0.07em;
		color: #16091B;
	}

	// .banner__footer-name

	&__footer-name {
		font-family: Work Sans;
		font-style: normal;
		font-weight: 400;
		font-size: clamp(0.875rem, 0.691rem + 0.92vw, 1.5rem);
		line-height: 35px;
		color: #594D5E;
	}

	// .banner__footer-button

	&__footer-button {
		flex: 0 1 121px;
		height: clamp(2.625rem, calc(2.072rem + 2.76vw), 4.5rem);
		background: $accentColor;
		backdrop-filter: blur(22.5px);
		font-family: Work Sans;
		font-style: normal;
		font-weight: 700;
		font-size: clamp(1rem, calc(0.853rem + 0.74vw), 1.5rem);
		line-height: clamp(2.625rem, calc(2.072rem + 2.76vw), 4.5rem);
		text-align: center;
		color: #000000;
	}

	// .banner__background

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		z-index: -1;
	}

	// .banner__decore

	&__decore {}

	&__decore_down {
		position: relative;
		top: 50%;
	}
}