body {
	background-color: $bgColor;
	font-family: WorkSans;
	font-style: normal;
	font-weight: 400;
}

h1,
h2 {
	font-family: Oxanium;
	font-style: normal;
	font-weight: 700;
	line-height: clamp(3.938rem, calc(2.702rem + 6.18vw), 8.125rem);
	color: $whiteTextColor;

	span {
		color: $accentColor;
	}
}

h1 {
	font-size: clamp(2.625rem, calc(1.832rem + 3.96vw), 5.313rem);
}

h2 {
	font-size: 64px;
}

.button {
	display: inline-block;
	background-color: $primaryColor;
	border: 1px solid $accentColor;
	font-family: WorkSans;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.05em;
	color: $whiteTextColor;

	&:hover {
		background-color: $accentColor;
		color: #000;
		transition: all 0.3s linear;
	}
}

.container {
	max-width: 1405px;
	margin: 0 auto;
	padding: 0 20px;
}