$primaryColor: rgba(233, 215, 167, 0.1);
$accentColor: #FFCE4E;
$bgColor: #1C121F;
$whiteTextColor: #F5FBF2;
$purpleColor: #8613A5;
$bgGrayColor: linear-gradient(336.61deg, #251928 16.25%, rgba(37, 25, 40, 0) 91.6%);